img, .bg {
    filter: grayscale(1);
    transition: all ease .8s;

    @media (pointer: fine) {
        &:not(.not-hover) {
            cursor: pointer;
            
            &:hover {
                filter: grayscale(0);
            }
        }

        &.not-pointer {
            cursor: default !important;
        }
    }
}

.slbImage {
    filter: none !important;
}