.galeria {
    .title {
        .extraTitle {
            left: 6.5vw;
        }
    }

    #macy-container {
        .item img {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}