.servicios {

    h1 {
        position: relative;
        z-index: 10;
        left: 3vw;
    }

    .mneg {
        margin-top: -10vh;
    }

    .swiper {
        img {
            height: 600px;
            width: 100%;
            object-fit: cover;
        }

        .titlee {
            font-size: 1.528vw;
            line-height: 2.083vw;
            font-weight: 600;
            color: $dorado;
        }

        p {
            font-size: 16px;
        }

        .swiper-slide {
            background-color: $oscuro;
        }
    }
}