.services {
    img {
        min-height: 450px;
        height: 75vh;
        width: 100%;
        object-fit: cover;

        @media screen and (min-width: 786px) {
            height: 600px;
        }
    }

    .bg {
        &.parallax {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            img {
                opacity: 0;
            }
        }
    }

    .titlee {
        font-size: 24px;
        font-weight: 600;
        color: $dorado;
        
        @media screen and (min-width: 1200px) {
            font-size: 1.528vw;
            line-height: 2.083vw;
        }
    }

    p {
        font-size: 16px;
    }
}