@import '../variables';

@import "../mixins/seccionPaddings";

.about {
    @import '../components/byn';
    
    .aboutus {
        @include padding-for-sections(180px, 20px);

        .title {
            font-size: 45px
        }
        .title .extraTitle {
            top: -12px
        }

        .equipo {
            .bg {
                width: 100%;
                height: 500px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            p {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    .portafolio {
        @include padding-for-sections(60px, 20px);
    }
}