@import '../variables';
@import '../components/videoPortada';
@import '../components/quienesSomos';
@import '../components/servicios';
@import '../components/galeria';

@import "../mixins/seccionPaddings";
@import '../components/byn';

.quienesSomos {
    position: relative;
    margin-top: -22.224vh;

    .title {
        font-size: 30px;
        
        @media screen and (min-width: 536px) {
            font-size: 60px;
        }
        @media screen and (min-width: 768px) {
            font-size: 5.569vw;
            line-height: 5.569vw;
        }
        @media screen and (min-width: 1366px) {
            font-size: 5.569vw;
            line-height: 5.569vw;
        }
    }
}

.services,
.galeria {
    @include padding-for-sections(60px, 20px);
}

.services {
    #target-bg{
        left: 0;
        position: absolute;
        right: 0;
        top: -100vh;
        bottom: -100vh,
    }
}
