@import '../variables';

.services {
    img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }

    .bg {
        &.parallax {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            img {
                opacity: 0;
            }
        }
    }

    .titlee {
        font-size: 1.528vw;
        line-height: 2.083vw;
        font-weight: 600;
        color: $dorado;
    }

    p {
        font-size: 16px;
    }
}